.hero{
    position: absolute;
    top: 0;
    background-image: url(../../image/snrsbk.jpg);
    width: 100%;
      height: 100%;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    z-index: -10;
}
.button{
    width: 170px;
    height: 60px;
    color: white;
    background-color: #1b1b1b;
    border: none;
    margin-top: 5px;
    font-size: 18px;
    border: 2px solid transparent;
    font-weight: 600;
    transition: all .8s;
}
.button:hover{
    background-color: #D9E4DD;
    color: black;
    border: 2px solid black;
}
.explore-more{
    border-bottom: 4px solid black;
    width: fit-content;
}
.custom-position{
    position: relative;
}
.custom-absoulte{
    position: absolute;
    top: 50%;
    color: white;
    left: 20%;
    transition: all .5s;
    
}
.custom-position:hover .custom-absoulte p{
    display: block;
    cursor: pointer;
    
}
.custom-absoulte h2{
    font-size: 50px;
    font-weight: 700;
}
.custom-absoulte p{
    display: none;
    
}